<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-callblock-plugin"
    version="1.0.0">
    <name>Cordova Plugin Template</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.CallBlock -->
        <clobbers target="CallBlock" />
      </js-module>
      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
        <uses-permission android:name="android.permission.CALL_PHONE" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    </config-file>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CallBlock">
          <param name="android-package" value="com.example.CallBlock" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/CallBlock.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/PhoneCallReciever.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/PhoneCallStateListener.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/android/internal/telephony/ITelephony.aidl" target-dir="aidl/com/android/internal/telephony/ITelephony.aidl" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="CallBlock" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="CallBlock">
                <param name="ios-package" value="CallBlock" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CallBlock.h" />
        <source-file src="src/ios/CallBlock.m" />
    </platform>
</plugin>
